# ARUBA - PRE-PROCESSAMENTO

In [20]:
##importando bibliotecas
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from datetime import datetime

Bed_to_Toilet = 4
Eating = 14
Meal_Preparation = 18
Relax = 9
Sleeping = 3

# Pivoteamento

In [21]:
## importando dataset outputP1_pp2.csv
df = pd.read_csv('datasetaruba/pp2/aruba_atividades_pp2.CSV',delimiter=';',decimal=',',thousands=".",encoding='ANSI')
print(df.shape)
df.head()

(1005, 8)

,dia,dia_semana,fim_semana,atividade,local,duracao,frequencia,duracao/frequencia
0,1,3,0,Bed_to_Toilet,4,158,1,158
1,1,3,0,Eating,14,626,4,156
2,1,3,0,Meal_Preparation,18,4037,9,448
3,1,3,0,Relax,9,2262,3,754
4,1,3,0,Relax,10,1578,2,789

# aruba - Pr√© processamento C - Pivoteamento

##  Pivoteamento  dia e nome da atividade e FREQUENCIA

In [27]:
## pivotanto usando dia e nome da atividade e Frequencia
dfpiv_frequencia = df.pivot_table(values = 'frequencia', 
                         index = ['dia','dia_semana','fim_semana'], 
                         columns = ['atividade'])
dfpiv_frequencia = dfpiv_frequencia.dropna()
dfpiv_frequencia = dfpiv_frequencia.reset_index()
dfpiv_frequencia['dia'] = np.arange(len(dfpiv_frequencia))
dfpiv_frequencia['dia'] = dfpiv_frequencia['dia'] +1
print(dfpiv_frequencia.shape)
dfpiv_frequencia.rename(columns = {'Bed_to_Toilet':'BedToToilet', 'Meal_Preparation':'MealPreparation'}, inplace = True)
dfpiv_frequencia.head()

(84, 8)

atividade,dia,dia_semana,fim_semana,BedToToilet,Eating,MealPreparation,Relax,Sleeping
0,1,3,0,1.0,4.0,9.0,2.5,2.0
1,2,4,0,1.0,1.0,3.0,2.0,3.0
2,3,5,1,1.0,3.0,4.0,7.0,1.0
3,4,6,1,3.0,10.0,4.5,18.0,5.0
4,5,0,0,1.0,5.0,11.0,13.0,2.0

In [4]:
for column_name in dfpiv_frequencia.columns:
    column = dfpiv_frequencia[column_name]
    # Get the count of Zeros in column 
    count = (column == 0).sum()
    print('Count of zeros in column ', column_name, ' is : ', count)

Count of zeros in column  dia  is :  0
Count of zeros in column  dia_semana  is :  19
Count of zeros in column  fim_semana  is :  68
Count of zeros in column  BedToToilet  is :  0
Count of zeros in column  Eating  is :  0
Count of zeros in column  MealPreparation  is :  0
Count of zeros in column  Relax  is :  0
Count of zeros in column  Sleeping  is :  0

##  Pivoteamento  dia e nome da atividade e DURACAO

In [5]:
## pivotanto usando dia e nome da atividade e DURACAO
dfpiv_duracao = df.pivot_table(values = 'duracao', 
                         index = ['dia','dia_semana','fim_semana'], 
                         columns = 'atividade')
dfpiv_duracao = dfpiv_duracao.dropna()
dfpiv_duracao = dfpiv_duracao.reset_index()
dfpiv_duracao['dia'] = np.arange(len(dfpiv_duracao))
dfpiv_duracao['dia'] = dfpiv_duracao['dia'] +1
dfpiv_duracao.rename(columns = {'Bed_to_Toilet':'BedToToilet', 'Meal_Preparation':'MealPreparation'}, inplace = True)
print(dfpiv_duracao.shape)
dfpiv_duracao.head()

(84, 8)

atividade,dia,dia_semana,fim_semana,BedToToilet,Eating,MealPreparation,Relax,Sleeping
0,1,3,0,158.0,626.0,4037.0,3840.0,28459.0
1,2,4,0,160.0,209.0,481.0,585.0,48019.0
2,3,5,1,189.0,1795.0,1289.0,12578.0,16215.0
3,4,6,1,348.0,4672.0,1898.0,28849.0,47460.0
4,5,0,0,184.0,3224.0,2118.0,25717.0,10732.0

In [6]:
for column_name in dfpiv_duracao.columns:
    column = dfpiv_duracao[column_name]
    # Get the count of Zeros in column 
    count = (column == 0).sum()
    print('Count of zeros in column ', column_name, ' is : ', count)

Count of zeros in column  dia  is :  0
Count of zeros in column  dia_semana  is :  19
Count of zeros in column  fim_semana  is :  68
Count of zeros in column  BedToToilet  is :  0
Count of zeros in column  Eating  is :  0
Count of zeros in column  MealPreparation  is :  0
Count of zeros in column  Relax  is :  0
Count of zeros in column  Sleeping  is :  0

##  Pivoteamento  dia e nome da atividade e DURACAO/FREQUENCIA

In [7]:
## pivotanto usando dia e nome da atividade e DURACAO
dfpiv_dfreq = df.pivot_table(values = 'duracao/frequencia', 
                         index = ['dia','dia_semana','fim_semana'], 
                         columns = 'atividade')
dfpiv_dfreq = dfpiv_dfreq.dropna()
dfpiv_dfreq = dfpiv_dfreq.reset_index()
dfpiv_dfreq['dia'] = np.arange(len(dfpiv_dfreq))
dfpiv_dfreq['dia'] = dfpiv_dfreq['dia'] +1
dfpiv_dfreq.rename(columns = {'Bed_to_Toilet':'BedToToilet', 'Meal_Preparation':'MealPreparation'}, inplace = True)
print(dfpiv_dfreq.shape)
dfpiv_dfreq.head()

(84, 8)

atividade,dia,dia_semana,fim_semana,BedToToilet,Eating,MealPreparation,Relax,Sleeping
0,1,3,0,158.0,156.0,448.0,768.0,14229.0
1,2,4,0,160.0,209.0,160.0,292.0,16006.0
2,3,5,1,189.0,598.0,322.0,1796.0,16215.0
3,4,6,1,116.0,467.0,210.0,1602.0,9492.0
4,5,0,0,184.0,644.0,192.0,1978.0,5366.0

In [8]:
for column_name in dfpiv_dfreq.columns:
    column = dfpiv_dfreq[column_name]
    # Get the count of Zeros in column 
    count = (column == 0).sum()
    print('Count of zeros in column ', column_name, ' is : ', count)

Count of zeros in column  dia  is :  0
Count of zeros in column  dia_semana  is :  19
Count of zeros in column  fim_semana  is :  68
Count of zeros in column  BedToToilet  is :  0
Count of zeros in column  Eating  is :  0
Count of zeros in column  MealPreparation  is :  0
Count of zeros in column  Relax  is :  0
Count of zeros in column  Sleeping  is :  0

In [9]:
#exportando os dataset
dfpiv_frequencia.to_csv(r'datasetaruba/pp3/aruba-frequencia_pp3.csv', sep=';', index=False, decimal=',')

In [10]:
#exportando os dataset
dfpiv_duracao.to_csv(r'datasetaruba/pp3/aruba-duracao_pp3.csv', sep=';', index=False, decimal=',')

In [11]:
#exportando os dataset
dfpiv_dfreq.to_csv(r'datasetaruba/pp3/aruba-dfreq_pp3.csv', sep=';', index=False, decimal=',')